@page "/org/organizations"
@using ClassLibraryDAL
@using ClassLibraryModel

<h3>Organizations</h3>

<br />
<a href="org/addneworg" class="btn btn-outline-primary btn-sm">Add New Organization</a>
<br />
<br />
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Sr#</th>
			<th>Name</th>
			<th>Address</th>
			<th>Phone No</th>
			<th>Email</th>
			<th>Action</th>
		</tr>
	</thead>
	@foreach (var item in orgData)
	{
		<tr>
			<td>@item.OrgID</td>
			<td>@item.OrgName</td>
			<td>@item.OrgAddress</td>
			<td>@item.OrgPhoneNo</td>
			<td>@item.OrgEmail</td>
			<td>
				<button class="btn btn-outline-danger btn-sm"
					@onclick="(()=>DeleteOrg(item.OrgID))">
					Delete
				</button>
				<a href="dept/addnewdepartment/@item.OrgID" class="btn btn-outline-primary btn-sm">Add Department</a>
			</td>
		</tr>
	}
</table>

@code {

	private List<OrgModel> orgData { get; set; } = new List<OrgModel>();

	protected override void OnInitialized()
	{
		LoadOrg();
	}

	private void LoadOrg()
	{
		orgData = OrgDAL.GetOrg();
	}

	private void DeleteOrg(int OrgID)
	{
		if (OrgDAL.DeleteOrg(OrgID) == 1)
		{
			LoadOrg();
		}
	}

}
